h2{
    color: chocolate;
    margin-left: 25%;
    margin-right: 25%;
    
    display: block;
}
hr{
    
    
    background-color: deepskyblue;
    margin-left: auto;
    margin-right: auto;
    
    height: 2px;
    border: 0 none;
    
}
#img1   
{
    display: block;
  margin-left: auto;
  margin-right: auto;
      
}
p{
    margin-left: 25%;
    margin-right: 25%;
    font-size: larger;
}